<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.complaints.mapper.RecordMapper">
    <select id="queryRecordList" resultType="Record">
        select * from record
    </select>
    <insert id="addRecord" parameterType="Record">
        insert into record (number,content,complainant,processStatus,user) values (#{number},#{content},#{complainant},#{processStatus},#{user})
    </insert>
    <delete id="deleteRecords" parameterType="int">
        delete from record where number = #{number}
    </delete>
</mapper>